<h1>Listing des evenements</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.description %></td>
      <td><%= event.date %></td>
      <td><%= link_to 'Montrer l evenement', event_path(event) %></td>
      
    </tr>
  <% end %>
</table>

